<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Phone Management">
    <description>PHP CodeSniffer configuration</description>

    <file>src</file>
    <file>tests</file>

    <rule ref="PSR12"/>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="140"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>

    <arg value="p"/>
    <arg name="colors"/>
</ruleset>
